# Python typecasting

#In int

In [1]:
int(3.4) # floating value into integer are possible to convert

3

In [2]:
int(3.4,3.1) # error becauz of we have entered two arguments

TypeError: 'float' object cannot be interpreted as an integer

In [3]:
int(True) # boolean into integer are possible to convert

1

In [4]:
int(1+2j) # erroe becauz of complex value into integer are not possible

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [5]:
int('10') # it can be possible

10

# In Float

In [6]:
float(23) # possible to convert from int to float

23.0

In [7]:
float(True) # possible to convert boolean value in a float value

1.0

In [8]:
float(False) # possible same

0.0

In [9]:
float(1+2j) # error becauz of complex into float are not possible

TypeError: float() argument must be a string or a real number, not 'complex'

In [10]:
float('10') # it can be possible

10.0

In [11]:
float('ten') # error becauz of string with text into float are not possible

ValueError: could not convert string to float: 'ten'

# In complex

In [12]:
complex(10) # it can be possible

(10+0j)

In [13]:
complex(10,20) #possible

(10+20j)

In [14]:
complex(10,20,30) #error becauz of three arguments

TypeError: complex() takes at most 2 arguments (3 given)

In [15]:
complex(3.4) # float to complex is possible

(3.4+0j)

In [16]:
complex(3.4,34) #possible

(3.4+34j)

In [17]:
complex(True,False) # boolean to complex cn be possible

(1+0j)

# In boolean

In [18]:
bool(1) #int to boolean can be possible

True